.image {
    display: block;
    width: 300px;
    margin-top: 100px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.search-input {
    display: block;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    
    line-height: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 30px #dfe1e5;
    border-radius: 24px;
    
}

.flexbox{
    display: flex;
    justify-content: center;
}

button{
    margin-left: 10px;
}