.card{
    display: flex;
    border: 1px dotted blue;
    border-radius: 2px;
    background-color: azure;
    padding: 10px;
    text-align: center;
}

.image{
    width: 180px;
    height: 180px;
    margin-right: 30px;
}

.border{
    border: 1px dotted blue;
    border-radius: 2px;    
    padding: 5px;
}