body{
    margin: 0;
}
.red{
    background-color: red;
    height: 100px;

}

.blue{
    margin-top: 20px;
    background-color: blue;
    height: 100px;
    margin-bottom: 20px;

}

.green{
    background-color: green;
    height: 100px;
}